*{
    /* outline: 1px solid rgb(255, 0, 0); */
    box-sizing: border-box;
}
html{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    color: #000000;
    background-image: url(../img/light.webp);
    background-color: rgba(255,255,255,1.00);
    font-family: Arial;
    background-size: cover;
}
header{
    background-color: rgba(255, 255, 255, 0.692);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.123);
    z-index: 2;
    left: 0px;
}
h1, h2{
    font-family: 'Sora', sans-serif;
    color: #2a1c0c;
}
header img{
    height: 80%;
    margin-left: 100px;
}
header h1{
    padding: 10px;
    font-size: 2em;
}
header nav{
    width: 85%;
}
header nav ul{
    list-style: none;
    display: flex;
    column-gap: 2vw;
    font-size: 1.2em;
    margin-right: 100px;
    float: right;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
    position: relative;
    background: none;
}
nav ul li a{
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    transition: .2s ease;
}
nav ul li a:hover{
    background-color: #ffedd9;
    color: black;
}
.shop{
    background-color: #FF8600;
    color: white;
}
main{
    margin: auto;
    text-align: center;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}
.title{
    margin-bottom: 30px;
}
.title h1{
    font-size: 8vw;
    color: #2a1c0c;
    margin: 0;
}
.title p{
    font-family: Arial;
    font-variant: small-caps;
    font-size: 2vw;
    font-weight: bold;
    color: #555555;
    margin: 0;
}
.subtitletext{
    font-size: 3.4em;
    margin-bottom: 80px;
}
.menu{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.menu a{
    display: inline-flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    border: 0;
    margin: 10px;
    transition: 0.15s ease;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    background-color: #FF8600;
    font-family: monospace;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.menu a:hover{
    background-color: #555555;
}
.zalety{
    margin-top: 100px;
}
.tryb{
    position: relative;
    text-align: center;
    color: white;
    width: 60%;
    height: 100%;
    margin: auto;
    margin-top: 200px;
}
.trybimg{
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    height: 260px;
    border: 5px solid #555555;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    line-height: 50px;
    transition: border .2s ease;
    transform-origin: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    display: flex;
}
.earth{
    background-image: url("../img/earth.png");
}
.trybimg h1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    width: 100%;
    height: 80px;
    margin: 0;
    font-size: 2vw;
    padding: 10px;
    color: white;
    background-color: #555555;
}
.trybimg:hover{
    border: 100px solid #FF8600;
    cursor: pointer;
}
.trybimg:hover h1{
    background-color: #FF8600;
    /* transform: scale(105%);
    box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.219); */
}
.icon{
    padding: 60px;
    margin-bottom: 40px;
    opacity: .3;
    transition: .3s;
    display: block;
    box-sizing: content-box;
}
.icon img{
    width: 75px;
}
.icon:hover{
    opacity: 1;
    transform: translateY(10px);
    transform-origin: center;
}
.grid-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 60px;
}
.grid-item{
    background-color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    border: 5px solid #555555;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 1vw;
    text-align: left;
    line-height: 3vh;
    color: #000000;
    transition: .3s ease;
}
.grid-item:hover{
    box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.219);
    transform: translateY(-10px);
    transform-origin: center;
}
.grid-item p{
    color: #444444;
}
.footer{
    background-color: rgba(224, 224, 224, 0.692);
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.123);
}
.footer a{
    padding: 15px;
    transition: .3s ease;
}
.footer a:hover::after{
    content: ' ❤';
    color: #6732d8;
}
@media(max-width:500px){
    header{
        background-color: rgba(255, 255, 255, 0.692);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        height: 100px;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.123);
        z-index: 2;
        left: 0px;
    
    }
    h1, h2{
        font-family: 'Sora', sans-serif;
    }
    header img{
        height: 80%;
        margin-left: 0;
        display: none;
    }
    header h1{
        padding: 10px;
        font-size: 2em;
        display: none;
    }
    header nav{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    header nav ul{
        list-style: none;
        display: flex;
        font-size: 1em;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        float: none;
        column-gap: 5px;
    }
    a{
        text-decoration: none;
        color: #000000;
        position: relative;
        background: none;
        text-align: center;
    }
    nav ul li a{
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        transition: .2s ease;
    }
    nav ul li a:hover{
        background-color: #ffedd9;
    }
    main{
        margin: auto;
        text-align: center;
        line-height: 20px;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .title h1{
        font-size: 3.5em;
        color: #2a1c0c;
    }
    .mc{
        color: #FF8600;
        
    }
    .subtitletext{
        font-size: 2.4em;
        line-height: 40px;
        color: #FF8600;
        margin-bottom: 80px;
    }
    .title p{
        font-family: Arial;
        font-variant: small-caps;
        font-size: 1.0em;
        font-weight: bold;
        color: #555555;
    }
    .title{
        margin-bottom: 80px;
    }
    .menu{
        width: 100%;
        font-size: 0.8em;
    }
    .menu a{
        height: 50%;
        width: 95%;
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        transition: 0.3s;
        border-radius: 10px;
        color: #303030;
        font-weight: bold;
        cursor: pointer;
        line-height: 80px;
        background-color: #f3f3f3;
    }
    .tryb{
        padding-top: 300px;
        position: relative;
        text-align: center;
        color: white;
        width: 60%;
        height: 100%;
        margin: auto;
    }
    .trybimg{
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: 100%;
        border: 2px solid #ff880000;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        text-align: center;
        line-height: 50px;
        transition: .2s;
        transform-origin: center;
    }
    .earth{
        background-image: url("../img/earth.png");
    }
    .trybimg h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        text-shadow: 2px 2px black;
        font-size: 8em;
        color: #FF8600;
    }
    .trybimg:hover{
        transform: scale(110%);
    }
    .menu{
        padding-bottom: 50px;
    }
    .icon{
        padding: 60px;
        margin-bottom: 40px;
        opacity: .3;
        transition: .3s;
    }
    .icon:hover{
        opacity: 1;
        transform: translateY(10px);
        transform-origin: center;
    }
    .grid-container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        column-gap: 10px;
    }
    .grid-item{
        background-color: rgba(245, 245, 245);
        box-shadow: 0px 0px 40px rgba(15, 15, 15, 0);
        border-radius: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-size: 10px;
        text-align: left;
        line-height: 15px;
        color: #000000;
        transition: .3s ease;
    }
    .grid-item:hover{
        box-shadow: 0px 0px 40px rgba(15, 15, 15, 0.219);
        transform: translateY(-10px);
        transform-origin: center;
    }
    .grid-item p{
        color: #444444;
    }
}
/* Nahciak */
